name: Node.js

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.19.0, 22, latest]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - run: npm test
      - working-directory: examples
        run: npm run build
      - working-directory: examples
        run: npm test

  test262:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with: { submodules: true }
      - uses: actions/setup-node@v6
      - run: npm ci
      - run: npm run test262
